*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* color: white; */
}
body{
    background-color: black;
}
nav{
    background-color: rgb(30, 30, 30);
    padding: 20px 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    color: white;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
    text-align: center;
    align-items: center;
}
.nav-buttons a{
    text-decoration: none;
    color: white;
}

.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vh 10vw;
    align-items: center;
    color: rgb(233, 233, 233);
}
.hero-section p{
    font-size: 2em;
}
.hero-section p b{
    color: white;
}